<div class="container">
  <div class="main-todo">
    <div class="add-todo-container">
      <input
        type="text"
        placeholder="Enter Todo"
        class="todo-inputs todo-input"
        [(ngModel)]="todoInput"
      />
      <button class="todo-add-button todo-inputs" (click)="hanleAddTodo()">
        Add Todo
      </button>
      <div class="divider"></div>
      <div class="todo-container">
        @for(todo of todos; track $index){
        <app-todo-component
          [todo]="todo"
          (OnDelete)="handleOnDelete($event)"
          (OnEdit)="handleOnEdit($event)"
          [index]="$index"
        ></app-todo-component>
        }
      </div>
    </div>
  </div>
</div>
